<% include header %>

<%
    var todoData = todos.reverse()
    var listData = lists.reverse()
%>


<p>新しいToDoリストを作成する</p>
<!-- ToDo入力フォームを作成する-->
<div class="form">
    <form id="form">
        <p>新しくToDoを作成する</p>
        <p>
            <label for="text">リスト</label>
            <input id="listText" type="text" name="text" maxlength='30'>
        </p>
        <p>
            <input type="submit" value="リストの作成">
        </p>
    </form>
</div>
<!-- ToDo一覧を表示する-->
<%
//checkboxの◯個中◯個チェック済み
    var result = {};
    var todoValues = [];
    var dateValues = [];
    var nowTime = new Date()
    listData.forEach(function(list){
    result[list] = [];
    todoData.forEach(function(todo) {
    if(todo.listname === list.listname) {
    result[list].push(todo);
    }
    });
        var checkCount = 0;
        var todoCount = result[list].length;
        var dateValues = [];

        result[list].forEach(function (checked) {
            if(checked.isCheck) {
                checkCount++;
            }
                var changedDate = new Date(checked.limitDate);
                var subtraction = Math.abs(changedDate.getTime() - nowTime.getTime());
            if (subtraction != null && !isNaN(subtraction)) {
                dateValues.push(subtraction);
            }
        });

        var min = Math.abs(dateValues.indexOf(Math.min.apply(null, dateValues)));

        var minDate = new Date(dateValues[min] + nowTime.getTime());
        console.log(minDate);

        todoValues.push({
                todoCount: todoCount,
                checkCount: checkCount,
                date: minDate
        })

    });
console.log(todoValues);

//console.log(todoValues);
%>

<%
//var checkDate = {};
//var dateValues = [];
//var nowTime = new Date()
//listData.forEach(function(list) {
//    checkDate[list] = [];
//    todoData.forEach(function (todo) {
//        if (todo.listname === list.listname) {
//            checkDate[list].push(todo);
//        }
//            for(i=0;i<checkDate[list].length;i++) {
//                var changedDate = new Date(checkDate[list][i].limitDate);
//                var subtraction = Math.abs(changedDate.getTime() - nowTime.getTime());
//                dateValues.push(subtraction);
//            }
//            console.log(dateValues);
//    });
//
//});
////console.log(dateValues);
//
//    //日付比較
//
//
//var array = [];
//    var minArray = [];
//    for(var i=0;i<result.length;i++) {
//        for (var i = 0; i < result[i].length; i++) {
//            var changedDate = new Date(result[i].limitDate);
//            var subtraction = Math.abs(changedDate.getTime() - nowTime.getTime());
//            array.push(subtraction);
//        }
//        var min = array.indexOf(Math.min.apply(null, array));
//
////        minArray.push(min);
//    }

%>



<% for (var i=0;i<listData.length;i++){
    %>
<% for (var i=0;i<listData.length;i++) {%>

<div id="textDetail">
    <h2 class="text"><p class="todoList"><a href="/getTodoHtmlPage/<%=listData[i].listname%>"><%=listData[i].listname%></a></p></h2>
    <p class="finish"><%= todoValues[i]['todoCount'] %>個中<%= todoValues[i]['checkCount']%>個がチェック済み%></p>
    <p class="Deadline">~<%= todoValues[i]['date'] %></p>
</div>

<%
}
    } %>





<!--<div class="list"></div>-->
<div class="checks"></div>
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="../javascripts/index.js"></script>



<% include footer %>
